site_name: Webley
repo_name: DevByEagle/Webley
repo_url: https://github.com/DevByEagle/Webley

theme:
  name: material
  custom_dir: docs/assets/overrides
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Fira Code
  features:
    - content.code.copy
    - navigation.instant
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
  icon:
    repo: octicons/mark-github-16

plugins:
  - search
  - minify:
      minify_html: true
  - awesome-pages

extra:
  social:
    - icon: simple/github
      link: https://github.com/DevByEagle/Webley
      name: GitHub

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - assets/theme/code.css
  - assets/theme/reference.css

nav:
  - Home: index.md
  - API Reference:
      - API Reference: api-reference/index.md
      - General:
          - Exceptions: api-reference/general/exceptions.md
          - Types:
              - Webley: api-reference/general/types/webley.md
      - Networking:
          - Types:
              - HttpRequest: api-reference/network/types/httprequest.md
              - HttpResponse: api-reference/network/types/httpresponse.md
              - Router: api-reference/network/types/router.md
