[data-md-color-scheme="default"] {
  --md-code-fg-color: #2b2b2b;
  --code-separator: #e0e0e0;
  --line-numbers: #a0a0a0;

  --md-code-hl-color: #383a42;
  --md-code-hl-number-color: #b45a3c;
  --md-code-hl-function-color: #4078f2;
  --md-code-hl-constant-color: #0184bc;
  --md-code-hl-keyword-color: #a626a4;
  --md-code-hl-string-color: #50a14f;
  --md-code-hl-comment-color: #a0a1a7;
  ---md-code-hl-variable-color: #e45649;
}

[data-md-color-scheme="slate"] {
  --md-code-bg-color: #282a36;
  --code-separator: #44475a;
  --line-numbers: #6272a4;

  --md-code-hl-color: #abb2bf;
  --md-code-hl-number-color: #d19a66;
  --md-code-hl-function-color: #61afef;
  --md-code-hl-constant-color: #56b6c2;
  --md-code-hl-keyword-color: #c678dd;
  --md-code-hl-string-color: #98c379;
  --md-code-hl-comment-color: #7f848e;
  --md-code-hl-variable-color: #e06c75;
}

.md-typeset code {
  border-radius: 0.35rem;
  font-size: 0.95em;
  padding: 0.15em 0.35em;
  transition: background 0.3s ease, color 0.3s ease;
}

.highlighttable .linenos {
  border-bottom-left-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
  padding-right: 0.5em;
  color: var(--line-numbers);
  box-shadow: inset -0.05rem 0 var(--code-separator);
}

.highlighttable .linenodiv {
  box-shadow: none;
}

.highlight > pre,
.highlighttable {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  border-radius: 0.35rem;
  overflow: hidden;
}

.highlight .hll {
  background: linear-gradient(
    90deg,
    var(--md-code-hl-color) 10%,
    transparent 100%
  );
  box-shadow: inset 0 0 0 2px var(--md-code-hl-color);
}

code:not(pre code, .highlight) {
  background-color: #f0f0f0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  color: inherit;
}

.highlight .md-clipboard {
  color: var(--md-code-fg-color) !important;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.highlight:hover .md-clipboard {
  opacity: 0.6;
}

.highlight .md-clipboard:hover {
  opacity: 1;
}
