[data-md-color-scheme="default"] {
  --md-code-fg-color: #2b2b2b;
  --code-separator: #e0e0e0;
  --line-numbers: #a0a0a0;

  --md-code-hl-color: #383a42;
  --md-code-hl-number-color: #b45a3c;
  --md-code-hl-function-color: #4078f2;
  --md-code-hl-constant-color: #0184bc;
  --md-code-hl-keyword-color: #a626a4;
  --md-code-hl-string-color: #50a14f;
  --md-code-hl-comment-color: #a0a1a7;
  ---md-code-hl-variable-color: #e45649;
}

[data-md-color-scheme="slate"] {
  --md-code-bg-color: #282a36;
  --code-separator: #44475a;
  --line-numbers: #6272a4;

  --md-code-hl-color: #abb2bf;
  --md-code-hl-number-color: #d19a66;
  --md-code-hl-function-color: #61afef;
  --md-code-hl-constant-color: #56b6c2;
  --md-code-hl-keyword-color: #c678dd;
  --md-code-hl-string-color: #98c379;
  --md-code-hl-comment-color: #7f848e;
  --md-code-hl-variable-color: #e06c75;
}

.md-typeset code {
  border-radius: 0.35rem;
}

.highlighttable .linenodiv pre {
  color: var(line-numbers);
}

.highlight .md-clipboard {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.highlight:hover .md-clipboard {
  opacity: 0.5;
}

.highlight .md-clipboard:hover {
  opacity: 1;
}

.highlight > pre,
.highlighttable {
  box-shadow: var(--md-shadow-z1);
  border-radius: 0.25rem;
}

.tabbed-set .highlight > pre {
  box-shadow: none;
}

code:not(pre code, .highlight) {
  background-color: var(--fusiondoc-bg-2) !important;
  color: inherit !important;
  box-shadow: var(--md-shadow-z1);
}
