[data-md-color-scheme="default"] {
  --webley-bg-2: #ffffff;
  --webley-fg-3: #544c68;
}

[data-md-color-scheme="slate"] {
  --webley-bg-2: transparent;
  --webley-fg-3: #ffffff;
}

.webley-api-header {
  display: flex;
  align-items: baseline;
  margin: 0 !important;
  flex-wrap: wrap;
}

.webley-api-header .webley-api-icon {
  margin-right: 0.5em;
}

.webley-api-header > * {
  flex-shrink: 0;
}

.webley-api-type {
  vertical-align: middle;
  font-size: calc((0.5em + 1rem) / 2);
  flex-shrink: 0;
  margin-left: 0.5em;
  font-family: var(--md-code-font-family);
  font-weight: 500;
}

.webley-api-type:not(a) {
  opacity: 0.8;
}

.webley-api-grid {
  column-width: 12rem;
  column-gap: 0.5rem;
}

.webley-api-grid > * {
  break-inside: avoid;
  background-color: var(--webley-bg-2);
  box-shadow: var(--md-shadow-z1);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  padding-bottom: 0.01rem;
  margin: 0.5rem 0;
  margin-top: 0;
}

.webley-api-grid > * :first-child {
  margin-top: 0 !important;
}

.webley-api-grid > * > h3 {
  font-size: 0.7rem;
  color: var(--webley-fg-3);
  font-weight: 700;
}

.webley-api-index-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.webley-api-index-link:hover {
}

.webley-api-index-link > .webley-api-index-arrow {
  margin-bottom: -0.3em;
  transform: translateX(0rem);
  transition: transform 0.2s ease;
}

.webley-api-index-link:hover > .webley-api-index-arrow {
  transform: translateX(0.5rem);
}
