[data-md-color-scheme="default"] {}
[data-md-color-scheme="slate"] {}

.webley-api-header {
  display: flex;
  align-items: baseline;
  margin: 0 !important;
  flex-wrap: wrap;
}

.webley-api-header .webley-api-icon {
  margin-right: 0.5em;
}

.webley-api-header > * {
  flex-shrink: 0;
}

.webley-api-type {
  font-family: "Courier New", monospace;
  font-weight: 500;
  font-size: 0.85rem;
  flex-shrink: 0;
  margin-left: 0.5em;
}

.webley-api-type:not(a) {
  opacity: 0.8;
}

.webley-api-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.webley-api-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--webley-card-bg);
  border-radius: 12px;
  padding: 1rem;
  text-decoration: none;
  color: var(--webley-text);
  border: 1px solid var(--webley-border);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.webley-api-index-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* color: #0066cc !important; */
  margin: 1rem 0;
}

.webley-api-index-link > .webley-api-index-arrow {
  margin-bottom: -0.3em;
  transform: translateX(0rem);
  transition: transform 0.2s ease;
}

.webley-api-index-link:hover > .webley-api-index-arrow {
  transform: translateX(0.5rem);
}
