.webley-api-header {
  display: flex;
  align-items: baseline;
  margin: 0 !important;
  flex-wrap: wrap;
}

.webley-api-header .webley-api-icon {
  margin-right: 0.5em;
}

.webley-api-header > * {
  flex-shrink: 0;
}

.webley-api-type {
  font-family: "Courier New", monospace;
  font-weight: 500;
  font-size: 0.85rem;
  flex-shrink: 0;
  margin-left: 0.5em;
}

.webley-api-type:not(a) {
  opacity: 0.8;
}

.webley-api-bento {
  column-width: 12rem;
  column-gap: 0.5rem;
}

.webley-api-bento  > * {
    break-inside: avoid;
    box-shadow: var(--md-shadow-z1);
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
	padding-bottom: 0.01rem;
	margin: 0.5rem 0;
	margin-top: 0;
}

.webley-api-bento > * :first-child {
	margin-top: 0 !important;
}

.webley-api-bento > * > h3 {
    font-size: 0.7rem;
    font-weight: 700;
}